body {
    background-color: #f8f9fa;
}

header {
    background-color: #007bff;
    color: white;
    padding: 2rem 0;
}

.ecuacion,
.restriccion {
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.btn-calcular {
    background-color: #28a745;
    color: white;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.list-group-item img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.restriccion .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restriccion .col {
    flex: 1;
}

.restriccion .col-auto {
    flex: 0 0 auto;
}

.restriccion .col-auto img {
    margin: 0 10px;
}

/* Estilos adicionales según sea necesario */

/* Centra el contenido dentro de <main> */
.seccion.contenedor {
    text-align: center;
}

/* Espaciado en la parte superior e inferior de los elementos dentro de <main> */
.seccion.contenedor>* {
    margin-top: 20px;
    margin-bottom: 20px;
}